* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

header h1 {
  color: white;
}

header .trybewarts-header-logo {
  height: 12vh;
}

header .trybewarts-login {
  display: flex;
}

header .trybewarts-login #login,
header .trybewarts-login #senha {
  width: 100px;
  margin: 0 10px;
  border-radius: 5px;
  border-style: none;
}

header .trybewarts-login .loginButton {
  padding: 5px;
  margin-right: 5px;
  background-color: rgb(9, 9, 136);
  color: white;
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
}

main .content-container {
  display: flex;
  justify-content: center;
}

main .image-container {
  display: flex;
  width: 50%;
}

main .content-container #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}

main .content-container .image-container #trybewarts-forms-logo {
  max-width: 325px;
  flex-basis: 100%;
}

main .content-container #name-lastname {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

main .content-container #email-options {
  display: flex;
  margin: 10px 10px 10px;
  justify-content: space-between;
}

main .content-container #family {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

main .content-container #family .checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .content-container #family .checkbox-container:nth-child(2) {
  width: 46%;
}

main .content-container #evaluation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

main .content-container #content {
  display: flex;
}

main .content-container .textarea-container {
  display: flex;
  flex-direction: column;
}

main .content-container #submit {
  display: flex;
}

#submit-btn {
  margin-top: 10px;
  flex-basis: 100%;
  color: white;
  background-color: rgb(22, 31, 3);
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
  padding: 10px;
}

main .data-container {
  border: 2px solid blueviolet;
  font-weight: 700;
  font-size: 1, 2em;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(60, 64, 74);
  color: whitesmoke;
  margin-top: 10px;
}

footer p {
  padding: 10px;
  margin-right: 100px;
}

#label-content {
  display: flex;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  main .content-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  main .content-container #evaluation-form {
    width: 90%;
  }

  header .trybewarts-header-logo {
    height: 9vh;
  }

  header h1 {
    font-size: x-large;
  }
}

@media screen and (max-width: 500px) {
  main .content-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  header #trybewarts-header-title {
    display: none;
  }

  main .content-container #evaluation-form {
    width: 90%;
  }

  main .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .mobileScreen {
    width: 150px;
  }
}

@media screen and (max-width: 400px) {
  header {
    justify-content: center;
  }

  main .content-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  header #trybewarts-header-title,
  header .trybewarts-header-logo {
    display: none;
  }

  main .content-container #evaluation-form {
    width: 90%;
  }

  main .image-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  main .content-container .image-container #trybewarts-forms-logo {
    max-width: 250px;
    flex-basis: 100%;
  }

  .mobileScreen {
    width: 100px;
  }
}
